#page {
  margin: 0 auto;
  width: 900px;
  position: relative; }

.small-user-details {
  width: 900px;
  position: relative; }
  .small-user-details .wrapper {
    width: 600px;
    display: -webkit-box; }
  .small-user-details .info {
    -webkit-box-flex: 1; }
  .small-user-details .actions {
    -webkit-box-flex: 0; }

.main-content {
  width: 600px;
  float: left; }
  .main-content .table-header {
    overflow: auto; }
    .main-content .table-header .media {
      float: left; }
      .main-content .table-header .media img {
        width: 96px;
        height: 96px; }
    .main-content .table-header .details {
      overflow: auto; }
  .main-content .playlist-cell .media {
    float: left; }

.rss-itunes-button-wrapper, .share-embed-button-wrapper, .play-all-button-wrapper {
  float: left; }

.side-bar {
  float: left; }
