.page-main-fixed-panel {
  position: relative;
  width: 600px;
  min-height: 100px;
  margin: 0 auto; }

.page-left-fixed-panel {
  position: absolute;
  right: 100%;
  top: 0;
  width: 300px;
  min-height: 100px; }

.page-right-fixed-panel {
  position: absolute;
  left: 100%;
  top: 0;
  width: 300px;
  min-height: 100px; }

.small-user-details .info {
  overflow: auto; }
.small-user-details .actions {
  float: right; }

.table-header .media {
  float: left; }
  .table-header .media img {
    width: 96px;
    height: 96px; }
.table-header .details {
  overflow: auto; }

.row {
  border-top: 1px solid black; }

.rss-itunes-button-wrapper, .share-embed-button-wrapper, .play-all-button-wrapper {
  display: inline-block; }
