%h2
  online now

- img_file = 'Unknown-avatar.gif'

%img( src="#{ imageHelper( img_file ) }" )
%img( src="#{ imageHelper( img_file ) }" )
%img( src="#{ imageHelper( img_file ) }" )

%p
  find friends
  
%p
  invite friends
  
%p
  Featured People