%form( accept-charset="UTF-8" action="" method="post" )
  %div
    %input( name="utf8" type="hidden" value="✓" )
    %input( name="authenticity_token" type="hidden" value="TbAoyvZ+Nuc8xv67Qw+o2RZky5+yivcd6FR8jBQJoNk=" )
  %input( alt="Love this!" height="17" src="http://d15mj6e6qmt1na.cloudfront.net/assets/heartGrey-f632f5ce22a31602e558c3ecee2b714a.png" type="image" width="17" )
