- playlist_banner = 'sample_banner.png'
- playlist_title = 'Steam Trains of Leeds'
- playlist_count = '13 Boos'

- real_name = 'Sandra Smithers'
- user_name = 'sandrasmithers'
- description = 'Fashion blogger extraordinaire staff writer for vogue usa and some extra space to decide what to do when it goes overand full time mother of two'
- img_file = 'Unknown-avatar.gif'


.created-a-playlist
  .media-container
    %img( src="#{ imageHelper( playlist_banner ) }" )

  .meta-data-container
    %p
      = playlist_title
    %p
      = playlist_count
.clearfix

:css
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

  .created-a-playlist .media-container img {
    width: 100%;
    display: block;
  }
 