$side-bar-width: 300px;
$main-col-width: 600px;
$page-width: $main-col-width + $side-bar-width + $side-bar-width;

@mixin bor {
  //border: 1px solid red;
}

#page {
  //width: $page-width;
  //background-color: #eee;
}

.page-main-fixed-panel {
  //background-color:#ccc;
  position: relative; 
  width: $main-col-width;
  min-height: 100px;
  margin: 0 auto;
}

.page-left-fixed-panel {
  //background-color:#777;
  position:absolute; 
  right:100%;
  top:0;
  width: $side-bar-width;
  min-height: 100px;
}

.page-right-fixed-panel {
  //background-color:#777;
  position:absolute;
  left:100%;
  top:0;
  width: $side-bar-width;
  min-height: 100px;
}

.small-user-details {

  .info {
    @include bor;
    overflow: auto;         
  }

  .actions {
    @include bor;  
    float: right;   
  }
}


.table-header {
  .main_table_action {
    float: right;
  }

  .media {
    float: left;
    img {
      width: 96px;
      height: 96px;
    }
  }
  .details {
    overflow: auto;   // prevent wrapping under the image
  }
  .actions {
  }  
}
.table-header:after {
  clear:both;display:block;visibility:hidden;
  overflow:hidden;height:0 !important;
  line-height:0;font-size:xx-large;content:" x x x ";
}  
  
.row {
  border-top: 1px solid black;  
}

.playlist-cell {
  .media {
  }
}
.main-content {
  //width: $main-col-width;
  //float:left;
  

    

  
}

.rss-itunes-button-wrapper, .share-embed-button-wrapper, .play-all-button-wrapper {
  display: inline-block;
}
  
.side-bar {
  //float: left;
}

