$side-bar-width: 300px;
$main-col-width: 600px;
$page-width: $main-col-width + $side-bar-width;

@mixin bor {
  border: 1px solid red;
}


#page {
  margin: 0 auto;
  width: $page-width;
  position: relative;
}

.small-user-details {
  width: $page-width;
  position: relative;
  .wrapper {
    width: $main-col-width;
    display: -webkit-box;
  }
  .info {
    -webkit-box-flex: 1;
  }
  .actions {
    -webkit-box-flex: 0;
  }
}

.main-content {
  width: $main-col-width;
  float:left;
  
  .table-header {
    overflow: auto;
    .media {
      float: left;
      img {
        width: 96px;
        height: 96px;
      }
    }
    .details {
      overflow: auto;    
    }

  }
    
  .playlist-cell {
    .media {
      float: left;
    }
  }
  
}

.rss-itunes-button-wrapper, .share-embed-button-wrapper, .play-all-button-wrapper {
  float: left;
}
  
.side-bar {
  float: left;
}
