@import "compass/css3";
@import "definitions";

// Primary mixin
@mixin boo-style {

  /* The One True Background */
  html {
    //background:#b0c2ea;
    background:#e6e4e9 image-url("backgrounds/audioboo.jpg") repeat-x 0 0 !important;
    //background:#b9c1d5 image-url("hoo/backgrounds/noise.png") repeat-x 0 0 !important;
    @include background-image(linear-gradient(rgba(183,200,250,0.5),rgba(0,0,60,0.03)));
    min-height:100%;
  }

  .activity-item {
    margin-bottom: 2em;
  }
  .activity-item .activity-item-header {
    padding: 1em;
  }
  .activity-item h4::before {
    border: 1px solid $midLightGreyColour;
    @include border-radius(4px);
    @include box-shadow( rgba(0,0,0,0.1) 0px 2px 2px);
  }
  .activity-column .activity-list-item-spacer {  
    @include box-shadow( rgba(0,0,0,0.1) 0px 2px 6px inset);
   }
    
  .boo-author img {
    border: 1px solid $midLightGreyColour;  
  }

  .playlist {
  }
  
}