@import 'type_definitions'
@import './definitions'

.heading-holder h1
  font-family: $hoo_serif_font
  color: $pinkColour
  margin: 0 0 0 0
  padding: 0
  vertical-align: middle
  line-height: 1.25em
  span
    color: $blueGreyColour

.heading-holder .sub-head
  font: normal normal 21px $hoo_serif_font
  padding-top: 0.5em
  color: $menubarBlueColour
  line-height: 1.2
  clear: both

.a-small-serif-title
  font: normal normal 16px $hoo_serif_font
  line-height: 1.1   
  margin: 0 0 0.2em
  padding: 0

.a-small-sans-body, .a-small-sans-body p
  font: normal normal 12px $hoo_sans_font
  line-height: 1.3
  margin: 0
  padding: 0
  color: #555
  a
    color: $purplyGrey

.boo-overview .clip_details
  .boo-title
    @extend .a-small-serif-title
  .boo-description
    @extend .a-small-sans-body

.channel-overview .channel-details
  .channel-title
    @extend .a-small-serif-title
  .channel-description, .latestBoo
    @extend .a-small-sans-body
  .channel-description
    margin: 0 0 0.5em

ul.users
  .username
    font: normal normal 12px $hoo_sans_font
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

// activity page
.did-a-boo .boo-title
  @extend .a-small-sans-body
 
// about audioboo page
.markdown-body-text
  font: normal normal 16px $hoo_serif_font
  color:  #555

.markdown-body-text p:first-child
  //font-size: 21px;
  //color:  #333;

.markdown-body-text h3
  font: bold 15px $hoo_bold_sans_font
  margin: 0
  padding: 0

.address-panel
  color: black
  h3, .details
    font: bold 12px $hoo_bold_sans_font
    color: $audioboo-logo-color

// Audioboo Plus page
.upgrade_features ul
  font: normal normal 16px $hoo_sans_font
  color: $purplyGrey
  lh
    p
      margin: 0 0 0.5em 0
      padding: 0
  li
    font-size: 14px
    margin: 0 0 0.5em 0
    list-style-type: disc

.verbose-description
  font: normal normal 16px $hoo_serif_font
  color: #555
  p
    line-height: 1.3

#some-users lh
  color: $purplyGrey
  p
    margin: 0
    padding: 0

.disclaimer
  color: $purplyGrey
