- title ||= 'Untitled'

%a.playlist-cell( href="#{link}" )
  .media
    %img( src="#{ imageHelper( img_file ) }" )
  .details
    %h3.boo-title
      = title
    %p.boo-author
      %span.boo-usrname
        hooleyhoop
      %span.boo-ampersand        
        @
      %span.boo-containing-channel
        bbcradiofour
    .date
      = date
