- title ||= 'Untitled'

%a.channel-cell( href="#{link}" )
  
  .content-count
    %span.number
      6
    %span.number-label
      boos
  
  .row-media
    %img( src="#{ imageHelper( img_file ) }" )     
     
  .row-text
    %h3.channel-title
      = title
    .last-updated
      = last_updated
