- usrname ||= 'anonymous'

%a.contact-cell( href="#{link}" )
  .media
    %img( src="#{ imageHelper( img_file ) }" )
  %h3.usrname
    = usrname
  .last_updated
    = last_updated
  .content_count
    %span
      6
    %span      
      boos