- title ||= 'Untitled'

%a.playlist-cell( href="#{link}" )

  .content-count
    %span.number
      6
    %span.number-label
      boos

  .row-text
    %h3.playlist-title
      = title
    .last-updated
      = last_updated
