
- usr_img_file = 'Unknown-avatar.gif'
- boo_author = 'Sandra Smithers'
- boo_date = '17th August'

.boo-author
  .media-container
    %img( src="#{ imageHelper( usr_img_file ) }" )
  .meta-data-container
    %p
      %a(href='#')= boo_author
    %p
      = boo_date
.clearfix


-#
:cssdeps
  base
:sassdeps  
  module_includes
  
-#
:css
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

  .boo-author {
    margin-bottom: 0.5em;
  }
  
  .boo-author .media-container {
    float: left;
    width: 2.2em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
  .boo-author .media-container img {
    width: 100%;
    display: block;
  }
  .boo-author .meta-data-container p {
    margin: 0;
  }