!!!
%html( lang='en' )
  %head
    %meta( charset='utf-8' )
    %title=_ 'title', 'untitled'
    
    -# load some CSS 
    - _('css').each do |css_file_path|
      %link( rel='stylesheet' href="#{HooUtil.cssHelper(css_file_path)}" )
      
    -# load some script
    - _('javascript').each do |js_file_path|
      %script( src="#{HooUtil.javascriptHelper(js_file_path)}" )

    - _('coffeescript').each do |coffee_file_path|
      %script( src="#{HooUtil.coffeescriptHelper(coffee_file_path)}" )
      

  %body   
    Wlecome to YAML2Haml
    
    = insert 0
    -#- _('subrenderers').each do |subrenderer|
    -#  YES
    
    
:javascript
  $(document).ready(function(){
    console.log("shaboosh!")
  });
    